.analytics-container {
    padding-top: 30px;
    background-color: #f8f9fa;
  }
  
  .back-button {
    margin-bottom: 20px;
    background-color: #4b49ac;
    border: none;
    color: #fff;
    font-weight: bold;
    box-shadow: 0px 4px 10px rgba(75, 73, 172, 0.5); /* Soft shadow */
  }
  
  .chart-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1); /* Light shadow */
    text-align: center;
    height: 400px; /* Fixed height */
  }
  
  .chart-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
  }
  