.modal-content {
    border-radius: 20px !important;
    width: 120vh !important;
  }
  
  .modal-header {
    background-color: #4B49AC;
    color: white;
  }
  
  .modal-footer {
    background-color: #f1f1f1;
  }
  
  .btn-primary {
    background-color: #4B49AC;
    border-color: #4B49AC;
  }
  
  .btn-primary:hover {
    background-color: #3a3a94;
    border-color: #3a3a94;
  }

.inquiry-form .custom-placeholder::placeholder {
  font-size: 12px;
}
.inquiry-form {
  width: 100%; /* Or any specific width you want */
}

.modal-content{
  width: 120vh;
}

.savebuttonDiv{
  text-align: center;
}
.savebutton{
  
  width: 50%;
}

.scrollable-dropdown {
  overflow-y: auto;
}

/* Styles for the dull background effect */
.modal-open {
  overflow: hidden; /* Prevent scrolling of background */
}

.dull-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 1040; /* Ensure it's behind the modal but above other content */
}


.dimmer {
  filter: brightness(0.1); /* Dim the background */
  pointer-events: none; /* Prevent interaction with background content */
}

.dimmer * {
  pointer-events: none; /* Disable interaction with all elements inside the dimmed area */
}


.details-modal .modal-body p {
  color: black;
  font-weight: 500;
  margin-bottom: 8px;
}

.details-modal .modal-body strong {
  color: black;
  font-weight: bold;
}




.export-label {
  color: #666;
  font-size: 14px;
  font-weight: 500;
}

.export-select {
  margin-left: 8px;
  padding: 5px;
  width: 70px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fafafa;
  color: #333;
  font-size: 14px;
  cursor: pointer;
}

.export-select-month{
  margin-left: 8px;
  width: 50px;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fafafa;
  color: #333;
  font-size: 14px;
  cursor: pointer;
}

.export-button {
  background-color: #3a3a94;
  color: #fff;
  padding: 6px 16px;
  margin-left: 10px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
  transition: background-color 0.2s, transform 0.2s;
}

.export-button:hover {
  background-color: #3a3a94;
}



