/* .forgot-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
  }
  
  .forgot-password-form {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .forgot-password-form h2 {
    margin-bottom: 1.5rem;
    color: #4B49AC;
  }
  
  .forgot-password-button {
    margin-top: 1rem;
  }
   */